<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>

    {% block generic-css %}
        <style>
            .container{display: flex;}
            .row {display: flex;}
            .col {flex: 1;}
            @media (max-width: 400px) {
                .row {display: block;}
            }
        </style>
    {% endblock %}
    {% block specific-css %}    {% endblock %}
</head>
<body>
<div class="container">
    {% block content %}

    {% endblock %}
</div>

{% block generic-js %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
{% endblock %}
{% block specific-js %}    {% endblock %}
</body>
</html>
